@{
    ViewBag.Title = "About";
}

<div class="container">
	<p>We are Master of Engineering Management students at the University of Canterbury. We are technical graduates who understand how all of the components of a business function together, like organs in a body. We also understand that good business decisions, such as capital expenditures, go far beyond the direct cost - everything is interconnected, and elements cannot be considered in silos.</p>

	<p>Maintenance is one of those elements.</p>

	<p>Our brief was to come up with an innovative way to demonstrate <b>“What will effective maintenance look like in the future?”</b></p>

	<p>We have interpreted and answered this by designing a Maintenance Strategy Test. Simply answer the questions provided based on how your organisation operates, and we’ll break down the pros and cons of your strategy. <b>We also highlight some of the emerging trends in asset maintenance, and urge you to consider these when reviewing your asset management plans</b>.</p>

	<p>If you’d like further information on effective asset maintenance strategies, or would like to discuss the Master of Engineering Management programme in detail, please don’t hesitate to contact us:</p>

	<ul>
		<li>Victor Komarovsky</li>
		<li>Jared Lewis</li>
		<li>Julia O’Brien</li>
		<li>Tobias McLaughlin</li>
	</ul>	
</div>