@model List<Maintenance.Models.Question>
	
@{
    ViewBag.Title = "Maintenance";
}


<section class="title fullpage">
	<div class="header">
		<div class="text-vertical-center">
			<h1>Insights into Maintenance</h1>
			<h3>Find your strategy</h3>
		</div>
	</div>
	<div class="container">
		<div class="row calltoaction">
			<div class="col-sm-4 center-block">
				<a href="#intro" class="icon">
				<div>
					<span class="future"></span>
					<p>The Future</p>
				</div>
				</a>
			</div>
			

			<div class="col-sm-4 center-block">
				<a href="#quiz" class="icon">
					<div>
						<span class="test"></span>
						<p>Take the test</p>
					</div>
				</a>
			</div>
			<div class="col-sm-4 center-block">
				<a href="#about-us" class="icon">
					<div class="icon">
						<span class="us"></span>
						<p>About Us</p>
					</div>
				</a>
			</div>
		</div>
	</div>
</section>

<section id="intro" >
	<div class="container-fluid">
		<div id="introbanner" class="introbanner">
			<div class="text-vertical-center">
				<h1>Effective Maintenance</h1>
			</div>
		</div>
	</div>

	<div class="container">
		<div class="row voffset-2">
			<p>Asset maintenance is an age-old concept, and many companies treat maintenance as they always have. It is important to understand that maintenance is changing - new technologies, new methodologies and new business goals all influence how we maintain our assets.</p>

			<p>Some of the emerging trends of effective maintenance are described below:</p>

			<h3>State of the Art Management</h3>
			<p>Advanced and effective maintenance plays a crucial role in a company’s competitiveness. The use of sophisticated technology to manage and maintain assets has affected the industry significantly, however these technologies only add value when excellent management is in place. </p>

			<p>Integrated, high-technology assets are more sensitive, and vulnerable to complex consequences if they fail. Maintenance of these the “functional systems” must consider a wide range of assets, and understand the interplay between their reliability, productivity, safety, risk and cost. This requires advanced knowledge and tools to manage effectively, and of course a competent management team.</p>

			<h3>Holistic Maintenance</h3>
			<p>Integrated programmes and planning processes have led to a holistic philosophy and planning around maintenance procedures. These include Reliability Centred Maintenance, Total Productive Maintenance, Total Quality Maintenance and Lean maintenance. The aim of these integrated approaches is to offer an all-encompassing plan with regards to business operations and maintenance.</p>

			<h3>Strategy</h3>
			<p>Just like your marketing, procurement or financial plan, your maintenance plan should have a sound strategy. This strategy should outline the methods by which you maintain assets. These are listed below:
				<ul>
					<li>Run-to-failure </li>
					<li>Time-based</li>
					<li>Opportunity-based</li>
					<li>Design-out</li>
					<li>Condition-based</li></ul>
			</p>
			<p>The best strategies incorporate some or all of the methods, playing to their individual strengths to strike a balance between cost, performance and risk.</p>

			<p>So what is your maintenance strategy? The test below will help you understand your maintenance activities so that you can make a plan to future-proof it.</p>

			<p>Find your current maintenance profile now!</p>
		</div>
	</div>>
</section>

<section id="about-us">
	<div class="container">
		<div class="row">
			<h1>About Us</h1>
			<p>We are Master of Engineering Management students at the University of Canterbury. We are technical graduates who understand how all of the components of a business function together, like organs in a body. We also understand that good business decisions, such as capital expenditures, go far beyond the direct cost - everything is interconnected, and elements cannot be considered in silos.</p>

			<p>Maintenance is one of those elements.</p>

			<p>Our brief was to come up with an innovative way to demonstrate <b>“What will effective maintenance look like in the future?”</b></p>

			<p>We have interpreted and answered this by designing a Maintenance Strategy Test. Simply answer the questions provided based on how your organisation operates, and we’ll break down the pros and cons of your strategy. <b>We also highlight some of the emerging trends in asset maintenance, and urge you to consider these when reviewing your asset management plans</b>.</p>

			<p>If you’d like further information on effective asset maintenance strategies, or would like to discuss the Master of Engineering Management programme in detail, please don’t hesitate to contact us:</p>

			<ul>
				<li>Victor Komarovsky</li>
				<li>Jared Lewis</li>
				<li>Julia O’Brien</li>
				<li>Tobias McLaughlin</li>
			</ul>	
		</div>
	</div>
</section>

<section id="quiz">
	<div class="container ">
		<div class="row voffset-5 text-center">
			<h1>Quiz</h1>
			<h3>Select the option that best describes your business</h3>
		</div>
	</div>
</section>


@using( Html.BeginForm("SubmitForm", "Home", FormMethod.Post))
{

foreach (var q in Model)
{
	Html.RenderAction("Question", "Home", new { id = q.QuestionId });
}
	

<section id="submit" class="submit">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 text-center">
				<h1>What does your profile look like?</h1>
				<p>Submit your results to find out how your maintenance strategy looks</p>
				
				<p>
					<button id="submitbutton" class="btn btn-dark btn-lg voffset-6" >Submit</button>
				</p>
				<div class="voffset-6"></div>
			</div>
		</div>
	</div>
</section>
}

@section Scripts {
	<script>
		$(function () {
			$("section.question").each(function () {
				var group = $(this);
				var form = group.parents("form").eq(0);
				var name = group.attr('id');
				var hidden = $('input[name="' + name + '"]');
				var buttons = $("a.btn-question", group);

				buttons.each(function () {
					var button = $(this);
					button.click(function () {
						var val = $(this).attr("data-value");
						buttons.removeClass('active');
						$(this).button('toggle');
						hidden.val(val);
					});
				});

				//Link up the slider
				var slider = $('.slider', group);
				slider.on('slideStop', function (e) {
					var val = e.value;
					var selectButton = $("a.btn-select", group)[0];
					var query = selectButton.href.replace(/\d+$/, val);
					selectButton.href = query;
					hidden.val(val.toString());
				});
			});

			$(".slider").slider();
			$(".btn-question").button();

			$(".modal").on('show.bs.modal', function(e) {
				$(".tooltips").tooltip({ placement: 'bottom' });
			});

			$('.modal').on('hide.bs.modal', function (e) {
				var target = $(this).attr('data-next');
				$(this).removeData('bs.modal'); // Clear cache
				$('html,body').animate({
					scrollTop: $(target).offset().top - 50
				}, 1000);
			});
		});
	</script>
}