@model List<Maintenance.Models.Question>
	
@{
    ViewBag.Title = "Maintenance";
}


<section class="title fullpage">
	<div class="header">
		<div class="text-vertical-center">
			<h1>Insights into Maintenance</h1>
			<h3>Find your strategy</h3>
		</div>
	</div>
	<div class="container">
		<div class="row calltoaction">
			<div class="col-sm-4 center-block">
				<a href="#intro" class="icon">
				<div>
					<span class="future"></span>
					<p>The Future</p>
				</div>
				</a>
			</div>
			

			<div class="col-sm-4 center-block">
				<a href="#intro" class="icon">
					<div>
						<span class="test"></span>
						<p>Take the test</p>
					</div>
				</a>
			</div>
			<div class="col-sm-4 center-block">
				<a href="#intro" class="icon">
					<div class="icon">
						<span class="us"></span>
						<p>About Us</p>
					</div>
				</a>
			</div>
		</div>
	</div>
</section>

<section id="intro" >
	<div class="container-fluid">
			<div id="introbanner" class="introbanner">
		<div class="text-vertical-center">
			<h1>Effective Maintenance</h1>
		</div>
	</div>
	</div>

	<div class="container">
		<div class="row voffset-2">
			<div class="col-sm-3">
				State of the Art Management
			</div>
			<div class="col-sm-9">
				Advanced and effective maintenance plays a crucial role in the continuous improvement in a company’s competiveness. The use of disruptive technologies and technology in general has affected the industry significantly, however these technologies only add value when excellent management is in place. As companies assets and plants have grown the integrated technical systems have also grown, these systems are more difficult to control and are more sensitive and vulnerable to diverse consequential effects even if one component fails. These maintenance systems must encompass a wide range of assets and resources and this requires advanced management of these maintenance systems to ensure control of the business as a whole increasing reliability, availability, safety and reducing risk.
			</div>
		</div>
		<div class="row voffset-2">
			<div class="col-sm-3">
				Holistic Maintenance
			</div>
			<div class="col-sm-9">
				Integrated programmes and planning processes have led to a holistic philosophy and planning around maintenance procedures. These include reliability centred maintenance, total productive maintenance, total quality maintenance and lean maintenance. The aim of these integrated approaches is to offer a complete plan with regards to business operation and maintenance.
			</div>
		</div>
		<div class="row voffset-2">
			<div class="col-sm-3">
				Strategy
			</div>
			<div class="col-sm-9">
				An effective strategy must be chosen for a maintenance plan so that maintenance procedures can be optimised. It must be noted that the strategies will be more effective/appropriate depending on the asset in question, therefore there is no one strategy that is best. The strategies listed below are the most common;
			</div>
		</div>
		<p>
			The best plans incorporate all of the strategies playing to their strengths to enable an optimal performance and cost ratio.
		</p>
		

		<p>
			Find your future maintenance profile!
		</p>
	</div>
</section>

<section id="quiz">
	<div class="container ">
		<div class="row voffset-5 text-center">
			<h1>Quiz</h1>
			<h3>Select the option that best describes your business</h3>
		</div>
	</div>
</section>


@using( Html.BeginForm("SubmitForm", "Home", FormMethod.Post))
{

foreach (var q in Model)
{
	Html.RenderAction("Question", "Home", new { id = q.QuestionId });
}
	

<section id="submit" class="submit">
	<div class="container">
		<div class="row">
			<div class="col-lg-6">
				Submit your results to find out how you stack up against other companies.
				<p>
					<button id="submitbutton" class="btn btn-dark btn-lg" >Select</button>
				</p>
				
			</div>
		</div>
	</div>
</section>
}

@section Scripts {
	<script>
		$(function () {
			$("section.question").each(function () {
				var group = $(this);
				var form = group.parents("form").eq(0);
				var name = group.attr('id');
				var hidden = $('input[name="' + name + '"]');
				var buttons = $("a.btn", group);

				buttons.each(function () {
					var button = $(this);
					button.click(function () {
						var val = $(this).attr("data-value");
						buttons.removeClass('active');
						$(this).button('toggle');
						hidden.val(val);
					});
				});

				//Link up the slider
				var slider = $('.slider', group);
				slider.on('slideStop', function (e) {
					var val = e.value;
					var query = buttons[0].href.replace(/\d+$/, val);
					buttons[0].href = query;
					hidden.val(val.toString());
				});
			});

			$(".slider").slider();
			$(".btn-question").button();

			$(".modal").on('show.bs.modal', function(e) {
				$(".tooltips").tooltip({ placement: 'bottom' });
			});

			$('.modal').on('hide.bs.modal', function (e) {
				var target = $(this).attr('data-next');
				$(this).removeData('bs.modal'); // Clear cache
				$('html,body').animate({
					scrollTop: $(target).offset().top - 50
				}, 1000);
			});
		});
	</script>
}