@{
    ViewBag.Title = "References";
}

<div class="container">
	<div class="row">
		<h2 class="voffset-8">References</h2>
		<p>Ahuja, I.P.S. and Khamba, J.S. (2008). Total productive maintenance literature review and directions. In <i>International Journal of Quality & Reliability Management</i> 25(7), 709-756.</p>

<p>Allen, D., Bauer, D., Bras, B., Gutowski, T., Murphy, C., Piwonka, T., . . . Wolff, E. (2002). Environmentally benign manufacturing: trends in <i>Europe, Japan, and the USA. Journal of Manufacturing Science and Engineering</i> 124, 908-920. doi: 10.1115/1.1505855.</p>

<p>Blincoe, K. (Liaison Engineer at Air New Zealand), personal communication.</p>

<p>Brent Wilson (Engineering Strategy Manager at Meridian Energy), personal communication.</p>

<p>Chappell, J. (2014). Big data creates predictive maintenance opportunities. Retrieved 23-08-2014 from  www.elp.com/articles/powergrid_international/print/volume-19/issue-4/features/big-data-creates-predictive-maintenance-opportunities.html.</p>

<p>Dekker, R. (1996). Applications of maintenance optimization models: a review and analysis. In <i>Reliability Engineering and System Safety</i> 51, 229-240.</p>

<p>El-Haram, M.A. and Horner, M.W. (2002). Factors affecting housing maintenance cost. In <i>Journal of Quality in Maintenance Engineering</i> 8(2), 115-122.</p>

<p>Garg, A. and Deshmukh, S.G. (2006). Maintenance management: literature review and directions. In <i>Journal of Quality in Maintenance Engineering</i> 12(3), 205-238.</p>

<p>iSixSigma (2014). What is six sigma. Retrieved 15-08-2014 from www.isixsigma.com/new-to-six-sigma/getting-started/what-six-sigma/.</p>

<p>Komarovsky, J. (Asset Information Co-ordinator, Tasman District Council), personal communication.</p>

<p>Lean Manufacturing Tools (2014). Waste of defects; causes, symptons, examples and solutions. Retrieved 14-08-2014 from http://leanmanufacturingtools.org/129/waste-of-defects-causes-symptoms-examples-and-solutions/.</p>

<p>Lifetime Reality (2014). Is your annual production plant maintenance cost running at more than 3% of your replacement asset value (RAV)? Retrieved 14-08-2014 from www.lifetime-reliability.com/consulting/enterprise-asset-management/asset-replacement-value.html.</p>

<p>Maintenance Engineering Society of New Zealand (2014). Maintenance engineers push for logic in new regulations. Retrieved 17-08-2014 from http://business.scoop.co.nz/2014/07/17/maintenance-engineers-push-for-logic-in-new-regulations/.</p>

<p>Maintenance Maven (2011). The future of maintenance management, part 1: 10 trends shaping your workplace. Retrieved 14-08-2014 from www.maintenancemaven.com/node/66.</p>

<p>Maintenance Resources (2011). The cost of maintenance destroys your capital investment returns. Retrieved 16-08-2014 from www.maintenanceresources.com/referencelibrary/ezine/thecostofmaint.htm.</p>

<p>Mills, S. (2008). Developing a maintenance strategy and setting performance targets. In <i>Maintenance and Asset Management</i> 23(5), 40-44.</p>

<p>One News (July 2012). KiwiRail’s Chinese locomotives ‘plagued with faults’ . Retrieved 23-08-2014 from https://tvnz.co.nz/national-news/kiwirail-s-chinese-locomotives-plagued-faults-4995763.</p>

<p>Price, A. (former Quality Analyst at New Zealand Aluminium Smelters), personal communication.</p>

<p>Reliability Web (2014). ISO-55000 asset management standard: what maintenance reliability professionals should expect. Retrieved 16-08-2014 from http://reliabilityweb.com/index.php/articles/ISO-55000_Asset_Management_Standard_What_To_.</p>

<p>Robinson, A. (Production Manager at Tait), personal communication.</p>

<p>Stone, J. (2014). OSHA preventive maintenance regulations. Retrieved 14-08-2014 from http://smallbusiness.chron.com/osha-preventive-maintenance-regulations-39945.html.</p>

<p>Sultana, M., Rahman, A. and Chowdhury, S. (2012). A review of performance based maintenance of road infrastructure by contracting. In <i>International Journal of Productivity and Performance Management</i> 62(3), 276-292.</p>

<p>The Institute of Asset Management (2014). Asset management - an anatomy (2nd Ed.). Retrieved 12-09-2014 from https://theiam.org/what-is-asset-management/anatomy-asset-management.</p>

<p>United States Environmental Protection Agency (2013). Design for the environment (DfE) program life-cycle assessment studies. Retrieved 14-08-2014 from http://www.epa.gov/dfe/pubs/projects/lca/.</p>

<p>Venkatesh, J. (2007). An introduction to Total Productive Maintenance (TPM). Retrieved 16-08-2014 from www.plant-maintenance.com/articles/tpm_intro.pdf.</p>

<p>Zhou, G.-D. and Yi, T.H. (2013). Recent developments on wireless sensor networks technology for bridge health monitoring. In <i>Mathematical Problems in Engineering</i>. doi: 10.1155/2013/947867.</p>
		
	


	</div>
</div>
